<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->

	<ConnectionStrings>
		<add name="LIS" connectionString="Data Source =Data Source=220.247.238.225; User Id=sa; Password=ehpl@2024; Initial Catalog=guardian_lab; Integrated Security=False; TrustServerCertificate=True" />
		<add name="DefaultConnection" connectionString="Data Source=220.247.238.225; User Id=sa; Password=ehpl@2024; Initial Catalog=guardian_lab; Integrated Security=False; TrustServerCertificate=True" />
		<add name="Inventory" connectionString="Data Source =220.247.238.225; User Id=sa; Password=ehpl@2024; Initial Catalog=Corporate; Integrated Security=False; TrustServerCertificate=True" providerName="System.Data.SqlClient" />
		<add name="guardian_himsConnectionString" connectionString="Data Source=220.247.238.225; User Id=sa; Password=ehpl@2024; Initial Catalog=Corporate; Integrated Security=False; TrustServerCertificate=True" />
		<add name="UserManagement" connectionString="Data Source=220.247.238.225; User Id=sa; Password=ehpl@2024; Initial Catalog=Corporate; Integrated Security=False; TrustServerCertificate=True" />
	</ConnectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>

</configuration>